<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct Withdraw</title>
    @entryPointStyles('app_react')
</head>

<body>
    <div id="root"></div>
    @entryPointScripts('app_react')
</body>

</html>